#map {
    height: 100%;
}

.map-container {
     height: 600px;
}

.clown0 {
    background: #00bfff;
}

.clown1 {
    background: #fffacd;
}

.clown2 {
    background: #48d1cc;
}

.clown3 {
    background: #f4a460;
}

.clown4 {
    background: #ff69b4;
}
